// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
    padding: 0px;
}

// NAVBAR

#landing-navbar{
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

#landing-navbar .navbar-brand{
    padding-left: 20px;
    padding-right: 20px;

}
#landing-navbar  div, ul, a{
    height: auto;
}

#landing-logo{
    height: inherit;
    padding: 0px;
    background-color: white;
}

#landing-logo img{
    padding: 5px;
    height: 80px;
    width: auto;
}

#menu-items{
    height: 100% !important;
}

#menu-items hr{
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
}

#menu-items ul{
    margin-top: 10px;
}

#menu-items a:hover > hr{
    display: block;
}

//End Navbar

//Footer
.footer{
    position: fixed;
    width:100%;
    height: 60px;
    bottom: 0;
    background-color: #f5f5f5;
}

footer > .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

//End Footer

#main-content{
    padding: 0px;
}

$height: calc(100vh - 80px - 60px);
$width: calc((7/12)*100vw);
#carousel-container{
    padding: 0px;
    background-color: #808080;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: $height;
    overflow: hidden;


}

//Info container
#info-container{
    margin-top: 1vh;
}
#info-container .info-bar{
    min-height: 100px;
    background-image: image-url("Temp_Info_Bar.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#info-container > form{
    margin-bottom: 5vh;
}

#info-container .sign-in-register{
    margin-bottom: 1vh;
    color: black;
}

#landing-search{
    border-radius: 30px;
    height: 35px;
    font-size: 1.2vw;
    font-weight: 200;
    border: none;
    background-color: #009687;
    color: #fff;
}

#landing-search + a{
    margin-top: calc(17px - 0.5vw);
    font-size: 1vw;
    color:#0067AB;
}

#next{
    height: 100px;
    width: 50px;
    right: 0px;
    position: absolute;
    top: calc(50% - 50px);
    background-color: rgba(0,0,0, 0.6);
    cursor:pointer;
}

#next span{
    color: white;
    font-size: 25px;
    top: calc(50% - 13px);
    left: calc(50% - 0.5em);
}

#carousel{
    position: relative;
    min-height: 100%;
    padding: 0;
    overflow: hidden;
}
.carousel-image{
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
    margin-left: -100%;
}

.active{
    margin-left: 0%;
}

.prev{
    margin-left: 100%;
}

#carousel-next{
    height: 70px;
    width: 30px;
    position: absolute;
    right: 0px;
    top: calc(50% - 20px);
    opacity: 0.5;
    background-color: black;
    border:none;
    color: white;
    font-size: 20px;
}

#carousel-next img{
    width: 100%;
    height: auto;
}

#carousel-previous{
    height: 70px;
    width: 30px;
    position: absolute;
    left: 0px;
    top: calc(50% - 20px);
    opacity: 0.5;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
}

#carousel-previous img{
    width: 100%;
    height: auto;
}
#carousel-next:hover{
    opacity: 1;
}

#carousel-next:focus{
    outline:none;
    opacity: 1;
}

#carousel-previous:focus{
    outline:none;
    opacity: 1;
}
#carousel-previous:hover{
    opacity: 1;
}

#triangle-bottomleft {
    position: absolute;
	width: 0;
	height: 0;
	border-bottom: 717px solid rgba(1,1,1,0.8);
	border-right: 1084px solid transparent;
}